&i2c1 {
        clock-frequency = <400000>;
        pinctrl-names = "default", "gpio";
        pinctrl-1 = <&pinctrl_i2c1_gpio>;
        scl-gpios = <&gpio5 14 GPIO_ACTIVE_HIGH>;
        sda-gpios = <&gpio5 15 GPIO_ACTIVE_HIGH>;
        status = "okay";

        pmic@25 {
            nxp,i2c-lt-enable;
        };
};

&i2c2 {
        clock-frequency = <400000>;
        pinctrl-names = "default", "gpio";
        pinctrl-1 = <&pinctrl_i2c2_gpio>;
        scl-gpios = <&gpio5 16 GPIO_ACTIVE_HIGH>;
        sda-gpios = <&gpio5 17 GPIO_ACTIVE_HIGH>;
        status = "okay";
};

&i2c3 {
        clock-frequency = <400000>;
        pinctrl-names = "default", "gpio";
        pinctrl-1 = <&pinctrl_i2c3_gpio>;
        scl-gpios = <&gpio5 18 GPIO_ACTIVE_HIGH>;
        sda-gpios = <&gpio5 19 GPIO_ACTIVE_HIGH>;
        status = "okay";
};

&i2c4 {
        clock-frequency = <100000>;
        pinctrl-names = "default", "gpio";
        pinctrl-0 = <&pinctrl_i2c4>;
        pinctrl-1 = <&pinctrl_i2c4_gpio>;
        scl-gpios = <&gpio2 4 GPIO_ACTIVE_HIGH>;
        sda-gpios = <&gpio2 5 GPIO_ACTIVE_HIGH>;
        status = "okay";

};

&i2c5 {
        clock-frequency = <100000>;
        pinctrl-names = "default", "gpio";
        pinctrl-1 = <&pinctrl_i2c5_gpio>;
        scl-gpios = <&gpio2 0 GPIO_ACTIVE_HIGH>;
        sda-gpios = <&gpio2 1 GPIO_ACTIVE_HIGH>;
        status = "okay";
};

&i2c6 {
        clock-frequency = <100000>;
        pinctrl-names = "default", "gpio";
        pinctrl-1 = <&pinctrl_i2c6_gpio>;
        scl-gpios = <&gpio3 28 GPIO_ACTIVE_HIGH>;
        sda-gpios = <&gpio3 20 GPIO_ACTIVE_HIGH>;
        status = "okay";
};

&iomuxc {

        pinctrl_i2c1: i2c1grp {
                fsl,pins = <
                        MX8MP_IOMUXC_I2C1_SCL__I2C1_SCL         0x400001c2
                        MX8MP_IOMUXC_I2C1_SDA__I2C1_SDA         0x400001c2
                >;
        };

        pinctrl_i2c1_gpio: i2c1_gpio_grp  {
                fsl,pins = <
                        MX8MP_IOMUXC_I2C1_SCL__GPIO5_IO14               0x10
                        MX8MP_IOMUXC_I2C1_SDA__GPIO5_IO15               0x10
                >;
        };

        pinctrl_i2c2: i2c2grp {
                fsl,pins = <
                        MX8MP_IOMUXC_I2C2_SCL__I2C2_SCL         0x400001c2
                        MX8MP_IOMUXC_I2C2_SDA__I2C2_SDA         0x400001c2
                >;
        };

        pinctrl_i2c2_gpio: i2c2_gpio_grp  {
                fsl,pins = <
                        MX8MP_IOMUXC_I2C2_SCL__GPIO5_IO16               0x10
                        MX8MP_IOMUXC_I2C2_SDA__GPIO5_IO17               0x10
                >;
        };

        pinctrl_i2c3: i2c3grp {
                fsl,pins = <
                        MX8MP_IOMUXC_I2C3_SCL__I2C3_SCL         0x400001c2
                        MX8MP_IOMUXC_I2C3_SDA__I2C3_SDA         0x400001c2
                >;
        };

        pinctrl_i2c3_gpio: i2c3_gpio_grp  {
                fsl,pins = <
                        MX8MP_IOMUXC_I2C3_SCL__GPIO5_IO18               0x10
                        MX8MP_IOMUXC_I2C3_SDA__GPIO5_IO19               0x10
                >;
        };

        pinctrl_i2c4: i2c4grp {
                fsl,pins = <
                        MX8MP_IOMUXC_SD1_DATA2__I2C4_SCL                0x400001c2
                        MX8MP_IOMUXC_SD1_DATA3__I2C4_SDA                0x400001c2
                >;
        };

        pinctrl_i2c4_gpio: i2c4_gpio_grp  {
                fsl,pins = <
                        MX8MP_IOMUXC_SD1_DATA2__GPIO2_IO04              0x10
                        MX8MP_IOMUXC_SD1_DATA3__GPIO2_IO05              0x10
                >;
        };

        pinctrl_i2c5: i2c5grp {
                fsl,pins = <
                        MX8MP_IOMUXC_SD1_CLK__I2C5_SCL                  0x400001c2
                        MX8MP_IOMUXC_SD1_CMD__I2C5_SDA                  0x400001c2
                >;
        };

        pinctrl_i2c5_gpio: i2c5_gpio_grp  {
                fsl,pins = <
                        MX8MP_IOMUXC_SD1_CLK__GPIO2_IO00                0x10
                        MX8MP_IOMUXC_SD1_CMD__GPIO2_IO01                0x10
                >;
        };

        pinctrl_i2c6: i2c6grp {
                fsl,pins = <
                        MX8MP_IOMUXC_HDMI_CEC__I2C6_SCL                 0x400001c2
                        MX8MP_IOMUXC_SAI5_RXC__I2C6_SDA                 0x400001c2
                >;
        };

        pinctrl_i2c6_gpio: i2c6_gpio_grp  {
                fsl,pins = <
                        MX8MP_IOMUXC_HDMI_CEC__GPIO3_IO28               0x10
                        MX8MP_IOMUXC_SAI5_RXC__GPIO3_IO20               0x10
                >;
        };


};

